POSTGRES_USER=$POSTGRES_USER
POSTGRES_PASSWORD=$POSTGRES_USER
SECRET_KEY=$SECRET_KEY
DB_HOST=$DB_HOST
DEBUG=$DEBUG
ALLOWED_HOSTS=$ALLOWED_HOSTS
CORS_ORIGIN_WHITELIST=$CORS_ORIGIN_WHITELIST
GATHER_CASES_CRON_TIME_SECONDS=$GATHER_CASES_CRON_TIME_SECONDS
SENTRY_DSN=$SENTRY_DSN

*/1 * * * * root /usr/local/bin/python3 /code/src/manage.py runcrons >> /var/log/cron.log 2>&1
